<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Bem vindo!!</h2>
    <p>ROTAS</p>
    <p>/teste</p>
    <p>/jsoncoment</p>
    <p>/jsonproduct</p>
    <h2>Para Node-Avançado</h2>
    <p>/usuariocad</p> 
    <p>/usuarios</p>
    
</body>
</html>